FORMAT: 1A
HOST: http://auction.stc.com.sa/ 


# Auction REST API

TODO : Add auction intoduction.

## HTTP request headers

  * Content-Type - The format of the request body - only application/json is supported at this time
  * Accept-Language - The language that you want the descriptions returned in - not currently supported
  
## HTTP response codes

  * 200 - The request completed OK
  * 201 - The specified object was created sucessfully
  * 204 - The request completed OK (No Content)
  * 400 - The request was not understood
  * 403 - You do not have access to the requested object
  * 404 - The object that was requested doesn't exist
  * 405 - The resource exists, but the wrong method was used. 
  * 500 - There was an internal API error
  * 501 - You have used a method (GET/PUT/POST/DELETE/etc) not supported by this endpoint
  
## HTTP response headers

  * Content-Type - The format of the response body eg. application/json
  * Location - When an object has been created following a POST, it's location will be contained here

## Bids Collection [/v1/bids]

### Create a New Bids [POST]

You may create your own bid using this action. It takes a JSON
object containing a product id,user id and a amount of bid.

+ Attributes
 
     + Errors (enum[string])
        + Members
            + `AUC001` - The user doesn't pay deposit payment.
            + `AUC002` - The user is blacklisted in auction.
            + `AUC003` - The user is already highest bidder.
            + `AUC004` - Auction is not active.
            + `AUC005` - The bid is less than minimum bid.
            

+ Request (application/json)

        {
            "user_id": 123,
            "product_id":1004,
            "bid_amount": 5000
        }

+ Response 201 (application/json)

    + Headers

            Location: /bids/1458

    + Body

            {
               "number_of_bids": 37,
               "bid_amount": 5000,
               "is_highest_bidder:"true"

            }
            
+ Response 500 (application/json)
    
    + Body

            {
                "error":  {
                "code": "AUC001",
                "user_title_message": "Deposit Required",
                "user_message": "To complete the bidding process on this number,you must pay a deposit payment",
                "developer_message": "The user doesn't pay deposit payment"}
            }


## Products Collection [/v1/products{?page,size,sort_by,order,category_id}]

### List All Products [GET]

Return list of all products

+ Parameters
    + page      (number, optional)
      + Default: 0
    + size      (number, optional)
      + Default: 100
    + sort_by     (optional)
      + Default: `id`
      + Members
            + `price`
            + `number_of_bids`
            + `views` 
            + `id`
    + order     (optional)
      + Default: `ASC`
      + Members
            + `ASC`
            + `DESC`
    + category_id (number, optional)

    
+ Response 200 (application/json)
 
        {     
    
              
          "products": [
            {
              "id": 1001,
              "number": "533996655",
              "current_price": 8000,
              "is_sold": "false",
              "category": {
                "category_name": "Gold",
                "links": {
                  "self": {
                    "href": "http://auction.stc.com.sa/v1/category/1"
                  }
                }
              }
            },
            {
              "id": 1002,
              "number": "5399999999",
              "current_price": 8000,
              "is_sold": "false",
              "category": {
                "category_name": "Diamond",
                "links": {
                  "self": {
                    "href": "http://auction.stc.com.sa/v1/category/2"
                  }
                }
              }
            }
          ],
          "links": {
            "self": {
              "href": "http://auction.stc.com.sa/v1/products?page=1&size=2"
            },
            "first": {
              "href": "http://auction.stc.com.sa/v1/products?page=0&size=2"
            },
            "prev": {
              "href": "http://auction.stc.com.sa/v1/products?page=0&size=2"
            },
            "next": {
              "href": "http://auction.stc.com.sa/v1/products?page=2&size=2"
            },
            "last": {
              "href": "http://auction.stc.com.sa/v1/products?page=49&size=2"
            }
          },
          "page": {
            "size": 2,
            "totalElements": 100,
            "totalPages": 50,
            "number": 1
          }

        }